.app-form {
    background-color: lightgray;
    height: 442x;
    width: 146px;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 1;
    padding: 12px;
    opacity: 0.8;
    box-shadow: 3px 3px grey;
}

.app-form-select-month {
    width: 100%;
}