table {
    width: 210px;
    padding-top: 54px;
    border-collapse: collapse;
    position: absolute;
    top: 3%;
    left: 2%;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0.8;
    box-shadow: 3px 3px grey;
}

table,
th,
td {
    border: 1px solid grey;
}

