.app-crime-summary {
    background-color: lightgray;
    height: 248px;
    position: absolute;
    bottom: 2%;
    right: 13%;
    width: 672px;
    z-index: 1;
    opacity: 0.9;
    box-shadow: 3px 3px grey;
}

.app-crime-summary-heading {
    color: #ffffff;
}

.app-crime-summary-info{
    position: absolute;
    color: #ffffff;
    margin-left: 15px;
}
.app-crime-summary-info p {
    display: inline;
    margin-right: 3rem;
    margin-bottom: 0%;
    text-decoration: underline;
}