.app-clock {
    color: #000000;
    font: 1em sans-serif;
    font-size: 56px;
    position: absolute;
    top: 1%;
    z-index: 1;

    left: 38%;
    letter-spacing: 12px;
}

.app-date {
    padding-top: 54px;
    color: #000000;
    font: 1em sans-serif;
    font-size: 24px;
    position: absolute;
    top: 3%;
    left: 40%;
    z-index: 1;
}

.app-clock-div{
    width: 100%;
}